<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flower.ssm.mapper.MessagesMapper">
  <resultMap id="BaseResultMap" type="com.flower.ssm.pojo.Messages">
    <id column="messages_id" jdbcType="INTEGER" property="messagesId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="messages_type" jdbcType="VARCHAR" property="messagesType" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="readed" jdbcType="BIT" property="readed" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    messages_id, member_name, messages_type, content, date, readed
  </sql>
  <select id="selectByExample" parameterType="com.flower.ssm.pojo.MessagesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from messages
    where messages_id = #{messagesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from messages
    where messages_id = #{messagesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flower.ssm.pojo.MessagesExample">
    delete from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flower.ssm.pojo.Messages">
    insert into messages (messages_id, member_name, messages_type, 
      content, date, readed)
    values (#{messagesId,jdbcType=INTEGER}, #{memberName,jdbcType=VARCHAR}, #{messagesType,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{readed,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.flower.ssm.pojo.Messages">
    insert into messages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="messagesId != null">
        messages_id,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="messagesType != null">
        messages_type,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="readed != null">
        readed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messagesId != null">
        #{messagesId,jdbcType=INTEGER},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="messagesType != null">
        #{messagesType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="readed != null">
        #{readed,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flower.ssm.pojo.MessagesExample" resultType="java.lang.Long">
    select count(*) from messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update messages
    <set>
      <if test="record.messagesId != null">
        messages_id = #{record.messagesId,jdbcType=INTEGER},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.messagesType != null">
        messages_type = #{record.messagesType,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.readed != null">
        readed = #{record.readed,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update messages
    set messages_id = #{record.messagesId,jdbcType=INTEGER},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      messages_type = #{record.messagesType,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      date = #{record.date,jdbcType=DATE},
      readed = #{record.readed,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flower.ssm.pojo.Messages">
    update messages
    <set>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="messagesType != null">
        messages_type = #{messagesType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="readed != null">
        readed = #{readed,jdbcType=BIT},
      </if>
    </set>
    where messages_id = #{messagesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flower.ssm.pojo.Messages">
    update messages
    set member_name = #{memberName,jdbcType=VARCHAR},
      messages_type = #{messagesType,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      readed = #{readed,jdbcType=BIT}
    where messages_id = #{messagesId,jdbcType=INTEGER}
  </update>
</mapper>